header, main, footer {
    margin: auto;
    max-width: 800px;
}

header, footer {
    background-color: rgb(15, 15, 58);
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}