body {
    margin: auto;
    max-width: 800px;
}

h1 {
    text-align: center;
}

main {
    align-items: center;
    margin-left: 250px;
}

.picGrid {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 400px 400px 400px 400px 400px;
}

.picture {
    background-color: aquamarine;
    margin-bottom: 10px;    
}

