nav {
    display: flex;
    justify-content: right;
}

li {
    padding: 10px;
    list-style: none;
}

a {
    color: lightblue;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 960px;
}

header {
    background-color: darkblue;
    color: #F9F5EF;
}

img {
    float: left;
    max-height: 100px;
    margin: 10px;
}

h1 {
    padding-left: 10px;
}

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: rgb(146, 212, 235);  
}

main {
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(145, 146, 167);
    color: #F9F5EF;
}

.footer-grid {
    display: grid;
    grid-template-rows: auto auto;
}

@media only screen and (max-width: 640px) {
    nav {
        display: block;
        align-items: center;
    }

    header {
        max-width: auto;
    }
}

@media only screen and (max-width: 420px) {

    main {
        display: block;
    }
}