header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: darkblue;
    color: #F9F5EF;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: lightblue
}

nav {
    background-color: darkblue;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.open {display: block;}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#F9F5EF;
    border-top: 1px solid lightblue;
}

nav ul li a:hover {
    background-color: lightblue;
    color: black;
}

main {
    display: flex;
    justify-content: center;
}

main>div {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 300px 300px 300px 300px 600px;
}

main div div {
    margin: 20px;
    background-color: lightblue;
    align-items: center;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    background-color: darkblue;
    color: #F9F5EF;
}


