@media only screen and (min-width: 50rem) {

nav button {display: none;}

nav ul#mainNav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid lightblue;
}

nav ul li a {
    border: none;
    border-right: 1px solid lightblue;
}


    
}