@media only screen and (min-width: 50rem) {

header, main, footer, hr {
    margin: 1.25rem auto;
    max-width: 1110px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 50px 30px;
    background-color: darkblue;
    color: #F9F5EF;
}

nav {
    grid-column: 2/3;
    grid-row: 2/3;
}

nav button {display: none;}

nav ul#mainNav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid lightblue;
}

nav ul li a {
    border: none;
    border-right: 1px solid lightblue;
}

main>div {
    display: grid;
    grid-template-columns: 300px 245px 245px 300px;
    grid-template-rows: 245px 245px 245px;
}

#container1 {
    grid-column: 2/4;
    grid-row: 1/3;
    background-size: cover;
}

#container2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#container3 {
    grid-column: 1/2;
    grid-row: 2/3;
}
    
#container4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.container5 {
    grid-column: 2/4;
    grid-row: 3/4;
    padding-top: 50px;
}

#container6 {
    grid-column: 4/4;
    grid-row: 1/4;
}

.spotlight {
    height: 31%;
    margin: 10px;
    line-height: 1.25rem;
}

#spot3 {
    display: block;
}

.footerGrid {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: auto 50px;
}

#footer2 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 40px;
}

#footer3 {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-top: 50px;
}

#footer4 {
    grid-column: 1/4;
    grid-row: 2/3;
}

#bottomButton {
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 40px;
    font-weight: bold;
}
}