@media only screen and (min-width: 35rem) {

header, main, footer, hr {
    margin: 1.25rem auto;
}

main>div {
    grid-template-columns: 600px;
    grid-template-rows: 300px 300px 300px 300px 300px 600px;
}
    
#container1 {
    background-size: cover;
}

.container5 {
    padding-top: 75px;
}

#bottomButton {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 40px;
    font-weight: bold;
}

}