@media screen and (max-width: 1000px) {

body {
    max-width: 1000px;
}

header {
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    grid-column: 3/4;
}

.mainGridHome {
    grid-template-columns: 1fr 400px 1fr;
}

#homeGridItem-1 {
    padding-top: 100px;
}

.buildItButton {
    margin-left: 100px;
    margin-right: 100px;
}

#homeGridItem-6 {
    padding-top: 100px;
}

.footerGrid {
    grid-template-columns: 1fr 1fr 1fr;
}


}